.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.border {
  border: 1px solid red;
}

h1, h2, h3, img, p, header {
  margin: 0;
}

.flex-row {
  display: flex;
}

/* Начало header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  margin: auto 0 auto 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__main-illustration {
  display: block;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
/* Конец header */

/* Начало секции description */
.two-columns {
  width: 80%;
  min-height: 300px;
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-clumns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-clumns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
