.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* .border {
  border: 1px solid red;
} */

h1, h2, h3, img, p, header, footer, ul, li, a {
  margin: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Начало header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: auto 0 auto 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  color: #000;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__main-illustration {
  display: block;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
/* Конец header */

/* Начало секции description */
.two-columns {
  width: 80%;
  min-height: 300px;
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-clumns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #000;
}

.two-clumns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  color: #000;

}

/* Начало секции digits */
.digits {
  align-items: center;
  margin: 100px 0;
}

.section-title {
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #000;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table-text{
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table-text:last-of-type {
  margin-bottom: 0;
}
/* Конец секции digits */

/* Начало секции feynman */
.feynman {
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  text-align: center;
  width: 648px;
  margin:  0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000;

  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
  z-index: 1;
}

.fenyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;

  z-index: 1;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* Конец секции feynman */

/* Начало секции kaufman */
.kaufman {
  position: relative;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  padding: 90px 0;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  display: block;
  position: absolute;
  top: 0;
  right: -210px;
}

.table_theme_dark {
  z-index: 1;
}

.section-title_theme_dark, .section-subtitle_theme_dark {
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* Конец секции kaufman */

/* Начало footer */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}

.footer__column_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  width: 200px;
  margin: 18px 0;
  color: #fff;
}

.footer__column_content_info, .footer__column_content_social {
  padding: 0;
}

.footer__column_links {
  list-style: none;
}

.footer__column_links:last-of-type {
  margin-bottom: 16px;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:#fff
}


/* Конец footer */